*{
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
}
body{
    padding:0 50px;
}
header .main{
    display: flex;
    width: 100%;
    height: 50px;
    
}
#search{
    height: 25px;
    position: relative;
    width: 30%;
    margin-top: 12.5px;
    margin-left: 35%;
}
.logo{
    width: 30%;
    height: 100%;    
    position: relative;
}
header .header a{
    position: relative;
    left: 70%;
    text-decoration: none;
    color: gray;
    font-size: 10px;
}
header nav{
    background-color: rgb(31, 204, 31);
    width: 100%;
    height: 35px;
    
}
header nav ul{
    display: flex;
    list-style-type: none;
}
header nav ul li{
    position: relative;
    text-align: center;
    width: 80px;
    height: 35px;   
    cursor: pointer; 
}
header nav ul li a{
    position: relative;
    top: 20%;
    text-decoration: none;
    color: white;
    padding: 7px 0; 
}
header nav ul li:hover{
    background-color: rgba(137, 219, 137, 0.5)
}
section{
    width: 70%;
    height: 80%;
    display: table;
}
.new{
    display: flex;
    margin: 20px 20px 15px 10px;
    width: 70%;
    height: 50%;
}
.new .minhhoa{
    margin-right: 10px;
    width: 40%;    
}
.new .content{
    width: 50%;
    font-size: 13px;
}
section .astop{
    display: flex;
}
section .astop nav{
    position: relative;
    width: 30%;
    margin: 20px 20px 15px 10px;
}
section .astop nav ul{
    list-style-type: square;
}
section .astop nav ul li{
    font-size: 10px;
    color: rgb(43, 81, 248);
}
.tieude{
    background-color: rgb(31, 204, 31);
    height: 30px;
}
.tieude span{
    color: white;
    margin-top: 10px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 15px;
    line-height: 30px;
}
.asright{
    position: absolute;
    width: 25%;
    float: right;
    top: 110px;
    right: 50px;
}