body { background-color: #FFFFCC;
}
h2{text-decoration-line: underline ;}
#navigation{ margin-left: 25%;
    position: absolute;
text-align: center;}
#tablesectionOne, #tablesectionTwo, #tablesectionThree, #tablesectionFour{
    table-layout: fixed;
    text-align: center;
    background-color: #FFFFDD;
    position: absolute;
    margin-top: 7ex;
}
.CAPTION{
    background-color: rgb(255, 185, 115);
    font-family: Arial;
    font-size: 1em;
}
td, th{ border: solid #d0d0d0;
empty-cells: show;
}