*{
    padding: 0;
    margin: 0;
}
.header{
    background-color: rgb(43, 165, 247);
    
}
.header .menu ul{
    margin-left: 20px;
    list-style-type: none;
    display: flex;
}
.header .menu ul li{
    padding: 20px;
    font-size: 20px;
}
.header .menu ul li:hover{
    background-color: rgb(75, 180, 250);
}
.right-bar{
    border: 1px solid gray;
    float: left;
    padding: 30px;
    margin: 20px;
    width: 20%;
}
.right-bar ul{
    list-style-type: none;

}
.right-bar ul li{
    padding: 10px;
    border-bottom: 1px solid gray;
    margin: 10px;
    cursor: pointer;
    color: rgb(163, 163, 163);
}
.main{
    width: 70%;
    float: right;
    margin : 10px;
}