*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    width: 85%;
    float: right;
    background-color: #333;
    height: 200px;
}
.head-nav{
    /* display: flex; */
    display: block;
    height: 150px;
    position: relative;
 
}
.head-nav .search{
   
    border: 1px solid grey ;
    background-color: #5a5a5a;
    float: left;
    margin: 10px 10px;
    /* height: 50px; */
}
.head-nav .search button{ 
    border: none;
    background-color: transparent;
    padding: 5px;
    font-size: 18px;
    
    height: 100%;
    
    color: white;
}
.head-nav .search input{
    border: none;
    outline: none;
    width: 80%;
    
    font-size: 18px;
    background-color: transparent;
    color: white;
}
.head-nav .search input::placeholder{
    color: white;
}
.dark-mode{
    float:  right;
}
.login{
    background-color: #5a060f;
    width: 100px;
    text-align: center;
    float: right;
    margin: 5px;
    padding: 0px;
}


.dark-mode button{
    width: 30px;
    height: 30px;
    border-radius: 30px;
    border: none;
    background-color: black;
    margin: 10px;
}

.login button{
    background-color: transparent;
    border: none;
    color: white;
    padding: 10px;
    font-size: 20px;
}
.short-category{
    display: flex;
    flex-wrap: wrap;
    margin: 0px 50px;
}
.gate-way{
    border: 1px solid white;
    height: 40px;  
    text-align: center;
    line-height: 38px;
    margin: 0px 10px;
    border-radius: 20px;
    cursor: pointer;
    flex-grow: 1;
} 
.gate-way a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.gate-way:hover{
    background-color: grey;
}
.right-bar{
    width: 15%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    float: left;
}
.right-bar img{
    height: 200px;
}
.menu-item{
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-left: 40px;
}
.menu-item a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    
}
.menu-item:hover{
    text-decoration-color: white;
    text-decoration-style: solid;
    text-decoration-line: underline;
}
.gach{
    border: 1px solid gray;
    width: 60%;
}
.menu-item select{
    background-color: rgb(0, 0, 0);
    color: white;
    width: 100px;
    height: 20px;
}
.main{
    
    width: 85%;
    float: right;
    height: 100%;
}
.popular{
    width: 100%;
    background-color: #1f2121;
    padding: 20px;
}
.popular-list{
    margin: 0px 50px;
}
.truyen{
    border: 1px solid rgb(61, 61, 61);
    display: inline-block;
    width: 100px;
    cursor: pointer;
    border-radius: 5px;
    overflow: hidden;
    padding: 5px;
    margin: 10px 10px;
}
.new{
    width: 100%;
    background-color: #2f2d2d;
}
h2{
    color: white;
    font-weight: normal;
}
.popular .popular-list img{
    width: 80%;
    float: left;
    height: 100px;
}
.rank{
    background-color: #540d0b;
    float: left;
    width: 20%;
    height: 100px;
    text-align: center;
    color: white;
}
.side-text{
    color: white;
    text-align: center;
}
.truyen:hover{
    background-color: #23527c;
}