*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(122, 160, 231);
}
.form_{
    background-color: pink;
    
}
.form_ .row {
    display: block;
    margin: 5px;
}
.form_ .row label{
    width: 10%;
    float: left;
}
.form_ .row input{
    width: 20%;
}
.form_ .row button{
    width: 9%;
    height: 20px;  
}
.form_ .row_2{
    margin-left: 10%;
}
.navbar{
    background-color: gray;
    display: inline-block;

}
.navbar ul{
    list-style-type: none;
}
.navbar ul li{
    float: left;
    padding: 10px;
}
.navbar ul li a{
    text-decoration: none;
    color: white;
}
.navbar ul li:hover{
    background-color: rgb(192, 192, 192);
}
#gicungduoc{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.452);
    display: none;
}
.bangthongbao{
    position: absolute;
    top: 20%;
    right: 40%;
    /* background-color: hotpink; */
    border: 1px solid rgb(0, 0, 0) ;
    width: 200px;
    height: 100px;
}
.bangthongbao .thongbao{
    height: 80%;
    text-align: center;
    background-color: rgb(255, 255, 255);
}
.bangthongbao .ok{
    background-color: rgb(204, 202, 202);
    height: 20%;
    text-align: center;
    /* position: absolute;
    bottom: 0px; */
}
.dataTable{
    width: 100%;
}
.dataTable table{
    border: 1px solid black;
    background-color: rgb(63, 63, 63);
    margin: auto;
}
.dataTable table td, .dataTable table th{
    text-align: start;
    color: silver;
    border: 1px double black;
    padding: 5px;
}