*{
    padding: 0;
    margin: 0;
}
table{
    border-collapse: collapse;
}
table td {
    border: 1px solid black;
    width: 30px;
    height: 30px;
    text-align: center;
}
table td input{
    position: relative;
    width: 100%;
    height: 100%;
    border: 0;
}

