*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	color: white;
	
}
body{
	background: linear-gradient(to right, #322FE3, #1B197A, #0D0D3D);
	/*margin: 0px 0px 0px 50px;*/
}

p, li{
	font-size: 20px;
}

table{
	border: 1px solid gray;

	border-collapse: collapse;
}
table th, td{
	text-align: center;
	border: 1px solid gray;
	padding: 10px;
}
.item{
	margin-left: 50px;
}