*{
    padding: 0px;
    margin: 0px;
}
.container{
    width: 70%;
    margin: 50px auto;
    padding-bottom: 5px;  
    border: 1px solid  rgb(25, 211, 65);
}
.dataList{
    width: 70%;
    margin: 50px auto;
}
.header{
    width: 100%;
    background-color: rgb(25, 211, 65);
    color: white;
    padding: 5px 0px;
    

}
.main{
    margin: 10px;
    
}
.row, .rowbutton{
    margin-top: 10px;
}
.main .row input{
    width: 100%;
    height: 30px;
    border-radius: 10px;
    outline: none;
    border: 1px solid grey;
}
#save_id, #reset_id{
    border: none;
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
}
#save_id{
    background-color: rgb(54, 194, 112);
}
#reset_id{
    background-color: rgb(148, 148, 1);
}
#save_id:hover{
    background-color: rgba(47, 255, 151, 0.8)
}
#reset_id:hover{
    background-color: rgba(255, 255, 0, 0.8);
}
.dataList table{
    border: 1px solid rgb(1, 207, 1);
    border-collapse: collapse;
    width: 100%;
    height: 100%;
    display: table;
}
.dataList th{
    background-color: rgb(26, 204, 26);
    border: 1px solid black;
    text-align: start;
}
.dataList td{
    border: 1px solid black;
    text-align: start;
    height: 30px;
}
.Edit, .Delete{
    position: relative;
    left: 10%;
    width: 80%;
    border: 0;
    height: 80%;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}
.Delete{
    background-color: rgb(245, 184, 70);
}
.Edit{
    background-color: rgb(43, 163, 233);
}