*{
    padding: 0px;
    margin: 0px;
}
body{
    background-image: url(img/background.jpg);
    background-size: cover;
}
.header{
    
    text-align: center;
}
.tieude h1, .tieude h2{
    font-family: arial;
    color: white;
}
.nav{
    background-image: url(img/navbar.jpg);
    height: 70px;
    text-align: center;
}
.nav ul{
    list-style-type: none;
    display: flex;
    text-align: center;
    margin-left: 300px;
}
.nav ul li{
    padding: 25px;
}
.nav ul li a{
    font-size: 14px;
    color: white;
    padding: 0px 20px;
    text-decoration: none;
}
.nav ul li:hover{
    text-decoration: underline;
}
.ads{
    display: block !important;
    width: 100%;
    
}
.ads img{
    display: block !important;
    width: 100%;
}
.left-column{
    width: 80%;
    float: left;
    background-color: rgb(231, 231, 231);
    height: 230px;
}
.right-column{
    width: 20%;
    float: right;
    background-color: rgb(114, 114, 114);
    
}
.left-column h3{
    color: blue;
    padding: 5px;
}
.left-column h3{
    padding: 5px;
}
.right-column .item{
    margin-bottom: 20px;
}
.item h3{
    color: blue;
}
.item h4, .item p{
    color: white;
}
.footer{
    position: absolute;
    background-image: url(img/navbar.jpg);
    width: 100%;
    height: 70px;
    margin-top: 250px;
    text-align: center;
    line-height: 70px;
    color: white;
}
.form-regis{
    margin: 0px 400px;
}
.form-regis h1{
    color: blueviolet;
    text-decoration: underline;
}
form{
    width: fit-content;
    background-color: blueviolet;
   
}
form .row{
    padding: 10px;
    display: flex;
}
form .row label{
    width: 20%;
}