*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}
.header{
    width: 100%;
}
.header .head-bar{
    height: 155px;
    background-color: rgb(62, 168, 115);
    width: 100%;
}
.header .head-bar .logo{
    float: left;
    margin-left: 10px;
    width: 10%;
}
.header .head-bar .logo img{
    width: 100px;
}
.header .head-bar .ten-cong-ti{
    margin-left: 20px;
    width: 50%;
    float: left;
}

.header .head-bar .ten-cong-ti h2{
    text-transform: uppercase;
    color: white;
    margin-top: 32px;
    letter-spacing: 0.1px;
    
}
.header .head-bar .ten-cong-ti h6{
    color: white;
    font-weight: normal;
    letter-spacing: 1px;
}
.header .head-bar .bao-gia{
    height: fit-content;
    line-height: 30px;
    width: 10%;
    border: 1px solid green;
    text-align: center;
    float: right ;
    margin: 20px 10px 0px 0px;
}
.header .head-bar .bao-gia:hover{
    background-color: rgb(147, 255, 205);
}
.header .head-bar .bao-gia button{
    width: 100%;
    height: 30px;
    background-color: rgb(42, 218, 42);
    border: none;
    color: white;
}
.header .head-bar .bao-gia i{
    font-style: normal;
}
.head-bar .nav-bar{
    width: 100%;
    float: left;
    height: fit-content;
    /* margin: 20px; */
    border-top: 1px solid green;
}
.head-bar .nav-bar ul{
    list-style-type: none;
    margin-top: 20px;
}
.head-bar .nav-bar ul li{
    float: left;
    padding: 5px;
    margin: 0px 5px;
    border: 1px solid rgb(57, 134, 80);
    cursor: pointer;
}
.head-bar .nav-bar ul li:hover{
    background-color: rgb(7, 172, 7);
}
    